@charset "UTF-8";
/* Structional Styles */
/* All styles within this sectin will affect the structure and major elements of the HTML. Styles within will be inherited unless otherwise specified below in another section */

html {
    background-color: #231F20;
}

body {
    background-color: white;
    font-family: 'Playfair Display', serif;


}

p {
    padding-left: 30px;
    font-size: 20px;
}

section.main p {
    padding-right: 50px;
}
article p#robber {
    padding-right: 550px;
}
h2 {
    padding-left: 20px
}

header>img {
    width: 100%;
    height: 700px;
    display: block;

}

/* Navigation Styles */

nav {
    background-color: rgba(196, 110, 52, 0.534);
    text-align: right;
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    margin: none;
}

nav ul {
    list-style: none;
    display: inline;
    padding-right: 20px;

}

nav li {
    display: inline;
    padding: 10px 30px;
}

nav ul li:hover {
    opacity: .3;
    background-color: rgba(184, 82, 64, 0.534);
}

nav a:visited,
nav :link {
    text-decoration: none;
    color: black;
}

/* Sidebar Navigation Styles */

section.sidenav {
    height: 100%;
    width: 170px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #231F20;
    padding-top: 20px;
    text-align: left;
    padding-right: 20px;
    padding-inline-start: 10px;
    line-height: 4em;
}

section.main h1,
h2,
h3 {
    padding-left: 30px;
}

section.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: table;
    width: 100%;
    margin-left: 0px;
}

section.sidenav a:hover {
    background-color: white;
    background-position: 160px;
    color: black;
}

section.sidenav ul {
    list-style: none;
}

section.main {
    margin-left: 180px;
    font-size: 20px;
}

section.main p {
    text-align: left;
}

section.main li {
    font-weight: bold;
    list-style: none;
    padding-left: 30px;
}

section.main img {
    width: 600px;
    height: 500px;
}

section.main>img {
    float: right;
    width: 250px;
    height: 200px;
}

/* Side Navigation 2 Styles */


/* Article styles */

article>h1 {
    margin-left: 20px;
}
/* These are all just to affect the index images at the bottom of the page, since they are article>img they do not affect the main dog picture in the home page. */
article>img {
    height: 265px;
    width: 470px;
    float: right;
    /* margin-left: 40px;
    margin-right: 40px; */
    margin: 0px 40px;
}

/* article img#money {
    width: 250px;
    height: 150px;
    margin-right: 150px;
} */

article p {
    text-align: left;
    padding-right: 20vh;
}

article>p>a {
    text-decoration: none;
    color: rgb(196, 110, 52);
}

article>p>a:hover {
    color: rgba(196, 110, 52, 0.534);
}
/* This was to change  */
article>ul li a:link, article>ul li a:active, article>ul li a:visited {
    color: black;
    text-decoration: none;
} 

article>ul li a:hover {
    color: rgba(196, 110, 52, 0.534);
}
/* article>dt dd{
    padding-right: 50px;
} */
/* Aside Styles */


/* Footer Styles */
footer {
    text-align: center;
    background-color: #231F20;
    color: white;
    font-size: 15px;
}

/* Description List Styles */
dl {
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;

}

dd {
    font-weight: normal;
    padding-right: 60px;
}

/* Blockquote styles */

blockquote {
    padding: 10px 10px;
    width: 900px;
    background-color: bisque;
    box-shadow: 2px 2px 2px;
}