@charset "utf-8";

html {
    background-color: #231F20;
}

body {
    background-color: white;
}

/* Nav Styles */

nav {
    background-color: rgba(184, 82, 64, 0.534);
    text-align: right;
    font-size: 1.6em;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    margin: none;
}

nav ul {
    list-style-type: none;
    list-style: none;
    display: inline;
    padding-right: 20px;
  
}

nav li {
    display: inline;
    padding: 10px 30px;
}

nav ul li:hover {
    opacity: .3;
    background-color: rgba(184, 82, 64, 0.534);
}

nav a:visited, nav :link {
    text-decoration: none;
    color: black;
}

/* Article styles */

article {
    margin-left: 20px;
}

/* Blockquote styles */

blockquote {
    padding: 10px 10px;
    background-color: bisque;
}